<!DOCTYPE html>
<html>
    <head><title>Create a Receipt</title></head>
    <body>
        <main>
            <div>
                <h1>Create Receipt</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ create_form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
