{% load static %}

<!doctype html>
<html>
    <head><title>Receipts</title></head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                        <a href="{% url 'create_receipt' %}">Create</a>
                        {% else %}
                        <a href="{% url 'signup' %}">Signup</a>
                        <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in receipts %}
                    <tr>
                        <td>{{ x.vendor }}</td>
                        <td>{{ x.total }}</td>
                        <td>{{ x.tax }}</td>
                        <td>{{ x.date| date:"m/j/y" }}</td>
                        <td>{{ x.category }}</td>
                        <td>{{ x.account }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
